<header class="w-full shadow-md py-3">
  <a href="/" class="block w-fit">
    <img
      width="100"
      height="53"
      loading="eager"
      src="/images/pokedex-icon.png"
      alt="Pokedex Logo"
    />
  </a>
</header>
